<p style="color: green"><%= notice %></p>

<h1>Homepage</h1>

<div id="buttons">
<a href="users" class="btn btn-default" role="button" aria-pressed="true">Users</a>
<a href="books" class="btn btn-default" role="button" aria-pressed="true">Books</a>
<a href="book_copies" class="btn btn-default" role="button" aria-pressed="true">Book copies</a>
<a href="borrowings" class="btn btn-default" role="button" aria-pressed="true">Borrowings</a>
<a href="librarians" class="btn btn-default" role="button" aria-pressed="true">Librarians</a>
<a href="libraries" class="btn btn-default" role="button" aria-pressed="true">Libraries</a>
<a href="readers" class="btn btn-default" role="button" aria-pressed="true">Readers</a>
</div>

